html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

.shadowed{
    text-shadow: 10px 10px 10px #ccc;
  }

  a:hover{
    text-decoration: none;
    color: #335588 ;
  }

  #mainTitle{
    color: #fff;
    transition: all .5s;
  }
  #mainTitle:hover{
    text-shadow: 5px 5px 10px #fff;
  }